<div class="containerMenu">
    <div id="rc_logo">
        <a href="#home" title="Logo">PRUEBA</a>
        <!-- Swap this placeholder out for your logo image -->
    </div>

    <div class="rc_nav" id="centered_nav">
        <a href="#home" title="Home">Home</a>
        <a href="#services" title="Services">Services</a>
        <a href="#about" title="About">About</a>
        <a href="#contact" title="Contact">Contact</a>
        <a href="javascript:void(0);" title="Menu" style="font-size:18px" class="icon" (click)="myFunction()">&#9776;</a>
    </div>
</div>