* {
    body {
        background: url('https://cdn.pixabay.com/photo/2016/05/24/16/48/mountains-1412683_960_720.png') !important;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
}